<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MTGPaste</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./paste.css">
        <link rel="stylesheet" href="./paste-mobile.css">
        <link rel="stylesheet" href="https://mtgify.org/dist/autocard.css" />
    </head>
    <body>
        <div id="deck_container"></div>
        <div id="sidebar"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://mtgify.org/dist/autocard.js"></script>
        <script src="./paste.js"></script>
        <script defer data-domain="mtg.skate.plib.dev" src="https://plausible.skate.plib.dev/js/script.js"></script>
    </body>
</html>
