html, body{
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: white;
    width: 100%;
    padding: 0;
}
*{
    font-family: monospace;
}
a{
    color: white;
}
#sidebar{
    position: fixed;
    z-index: 2;
    top:0px;
    right: 0px;
    height: calc(100vh - 40px);
    width: 350px;
    border-left: 1px solid white;
    padding: 20px;
}
#deck_container{
    padding: 20px;
    height: calc(100vh - 41px);
    width: calc(100vw - 350px - 100px);
}
#pastebox{
    height: 100%;
    width: calc(100vw - 350px - 40px);
    padding: 20px;
    position:absolute;
    top: 0px;
    left: 0px;
    border: none;
    resize: none;
    background: none;
    color: white;
}
.deckinput{
    background: none;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    margin-bottom:10px;
    height: 30px;
    width: 100%;
    padding: 10px;
}
#notesInput{
    height: 100px;
    resize: none;
}
button{
    background: none;
    color: white;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
}
button:hover{
    background: rgba(255,255,255,0.3);
}